.layoutRoot {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg-primary);
}

.contentWrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.mainContent {
    flex: 1;
    position: relative;
    overflow: hidden;
    min-width: 0;
}

.mainInner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}